<h2>Add new Location</h2>
<div>
    //button for add new location
</div>

{{#each locationData as |location|}}
	<div class="text-center">
		<h2>{{surf_spot}}</h2>
		<p>{{surf_spot.location}}</p>
		<p>Surf Type{{type}}</p>
		<p>Optimal Swell Direction {{optimal_swell_direction}}</p>
		<p>Optimal Wind {{optimal_wind}}</p>
		<p>Optimal Swell Size {{optimal_swell_size}}</p>
		<p>Optimal Tide {{optimal_tide}}</p>
	</div>
{{/each}}
<script src="../public/js/locations.js"></script>